/* FUENTES */
@import url('httñps://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Estilos globales*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* selector raíz */
:root {
  /*colores*/
  --color-white: #fff;
  --color-grey-light: #f5f5f5;
  --color-black: #000;
  --color-black-light: #0e0e0e;
  --color-brown: hsl(30, 40%, 59%);

  /*Tamaños de fuentes*/
  --big-font-size: 3.5rem;
  --normal-font-size: 1.05rem;
  --small-font-size: 0.92rem;
  --title-font-size: 2.2rem;

  /*tamaños*/
  --margin-b: 20px;

  /*Font-family*/
  /* --font-family-title:"M PLUS Rounded 1c"; */
  --font-family-normal:"Open Sans", sans-serif;
}

body {
  font-family: var(--font-family-normal);
  color: var(--color-black-light);
  font-size: 16px;
  line-height: 1.6;
  height: 100svh;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: var(--title-font-size);

}

section {
  margin-bottom: calc(var(--margin-b) * 4);
}

section:last-of-type{
  margin-bottom: calc(var(--margin-b) * 5);
}

/*===================================================================*/

/*----------Header----------------*/

header {
  width: 100%;
  margin-bottom: var(--margin-b);
}

.banner {
  margin: 60px 0;
}

.banner__img {
  display: block;
  width: 250px;
  margin-inline: auto;
}

.menu {
  width: 45%;
  margin-inline: auto;
}

.menu__list {
  list-style: none;
  display: flex;
  position: relative;
}

.menu__item {
  width: 100%;
  text-align: center;
}

.menu__item--link {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: var(--small-font-size);
  color: inherit;
}

.icon--menu {
  position: absolute;
  right: -15%;
}

/*--------------banner-----------------*/
.container {
  position: relative;
}

.container__side {
  display: block;
  width: 750px;
  margin-inline: auto;
}

.container__content {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.container__title,
.container__text,
.container__button {
  /* border: 1px solid red; */
  display: block;
  width: 100%;
  color: #fff;
}

.container__title {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: var(--big-font-size);
  line-height: var(--big-font-size);
  padding-bottom: 10px;
}

.container__text {
  font-size: var(--note-font-size);
  font-weight: 600;
  padding-bottom: 40px;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--color-brown);
  padding: 10px 30px;
  border-radius: 30px;
}

/*---------------card--------------*/

.container--col {
  width: 65%;
  height: 720px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.col-md {
  width: 48.5%;
}

.card {
  position: relative;
}

.card__article {
  position: absolute;
  top: 0;
  padding: 30px;
}

.card__img {
  display: block;
  width: 100%;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card__text {
  margin-bottom: var(--margin-b);
  text-align: justify;
}


.col-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.card--solo {
  width: 46.5%;
}

.card--solo__img {
  display: block;
  width: 100%;
}

.card--solo:last-child {
  width: 100%;
  height: 43%;
  position: relative;

  img {
    height: 100%;
    object-fit:cover;

  }

  &:after {
    content: 'bomsai box';
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    line-height: calc(720px * .43);
    /*Calculo el alto actual de container--col y le saco el porcentaje de 43%, equivalente a el tamaño del card--solo*/
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
  }

}

/*---------New-Product------------*/

.container--paled {
  background-color: #f5f5f5;
}

.product {
  min-height: 700px;
}

.product__title {
  color: var(--color-brown);
  text-align: center;
  line-height: calc(var(--title-font-size) * 4.5);

  span {
    color: #000;
  }
}
/*carrusel*/
.product__carrusel {
  margin-inline: auto;
  width: 90%;
  height: calc( (700px * 0.9) - (var(--title-font-size) * 4.5)); /* La primera resta la tengo que hacer en base al alto *minimo* del contenedor padre que es el product, por alguna razon como el tamaño esta en min-height, no toma como referencia este mismo alto (por ende tengo que sacar el porcentaje de manera explicita). el calculo que le sigue es para que me de el 90%  del tamaño restante contemplando el titulo del product.*/

  .splide__arrow {
    transform: scale(2); 
    background:none;
  }

  .splide__arrow svg {
    fill: rgba(0, 0, 0, 0.4);
  }

  .splide__pagination__page.is-active{
    background: var(--color-brown);
  }
}

.splide {
  width: 80%;
  height: 100%;
  margin-inline: auto;
}

.splide__track{
  width: 90%;
  height: inherit;
  margin-inline: auto;
}

.splide__slide{
  /* border: 2px solid blue; */
}

.splide__slide__container{
  height: 100%;
  padding: 50px 30px;

  .splide__slide__content{
    height: inherit;
  }

  .product__img{
    height: 60%;
  }

  .product__card{
    width: 100%;
    height: 100%;
  }


  
}




/*---------Video------------*/

.container--video {
  height: 100%;

  .container__content{
    background-color: rgba(3, 48, 4, 0.5)
  }

  .container__side {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container__button {
    padding: 50px;
  }

  .container__title {
    font-size: var(--title-font-size);
    font-family: 'arial';
    font-weight: 100;
  }

  .btn--play{
    display: block;
    width: 100px;
    height: 100px;
    margin-inline: auto;
    font-size: 4rem;
    font-family: initial;
    padding: 0 0 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


/*col-xl- | card__article*/
.container--col-xl {
  display: flex;
}

.col-xl {
  width: 50%;
  height: 500px;
}

.card__title--video {
  span {
    color: var(--color-brown);
  }
}

.card__text--video {
  width: 40%;
  text-align:start;
  padding: 10px 0;
}

/*---------FEATURED PRODUCT----------*/



.product__content {
  display:flex;
  justify-content: space-evenly;
  width: 70%;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.product__card {
  width: calc(100% / 6);
  height: 310px;
  border: 1px solid rgb(211, 211, 211); 
  /* box-shadow: 1px 4px 10px  rgb(219, 216, 216); */
}

.product__img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 5px;
}

.product__text,.product__prece {
  text-align: center;
  padding: 5px;
}

.product__prece {
  color:var(--color-brown);
}



.btn--product-card {
  display: block;
  margin-top: 20px;
  margin-inline: auto;
  text-align: center;
  width: fit-content;
  border-radius: 0;
  padding: 10px 30px;
} /*! Nota: Una mejor implementación posiblemente sea tratar este botón con un position absolute con referencia al card*/


/*---------LATEST NEWS----------*/

.product__card--last-new{
  width: 30%;
  height: 100%;
  position: relative;
  border: none;

  .product__img {
    height: 240px;
    margin-bottom: var(--margin-b);
  }

  .product__button{
    display: flex;
    align-items: end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px; /*Tienen que ser los mismos pixeles de alto que el de la imagen product__img*/
  }

  .product__title, .product__text {
    color: #000;
    line-height: initial;
    text-align:start;
    margin-bottom: var(--margin-b);
  }

  .product__text {
    padding: 0;
    text-align: justify;
    width: 82%;
  }

  .product__time {
    color:var(--color-brown);
  }

}

.btn--last-new{
  border-radius: 0;
  display: block;
  width: fit-content;
  padding: 5px 25px;
}

/*---------SignUp----------*/

.container--signup{
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .product__title {
    color: #000;
    line-height: initial;
    padding: 3rem 0 10px;
  }

  .container__text {
    color: #000;
    font-size: var(--small-font-size);
    font-weight: normal;
    width: 30%;
    padding: 0;
  }

}

.signup {
  display: flex;
  flex-flow: column wrap;
  width: 35%;
  align-items: center;
}

.signup__text{
  padding: 15px;
  width: 100%;
  margin-bottom: var(--margin-b);
  margin: 40px 0;
  text-align: center;
  font-size: var(--normal-font-size);

  &::placeholder{
    text-align: center;
    font-size: var(--normal-font-size);
  }
}

.signup__button {
  padding: 15px 50px;
  border: none;
  box-shadow: 5px 10px 30px gray;
  cursor: pointer;
}

/*-------FOOTER--------------*/

.container--footer{
  display: flex;
  padding: 20px 0;
  width: 70%;
  margin-inline: auto;
  font-size: var(--small-font-size);
}

.col-sm{
  width: 100%;
}

.col-sm:last-of-type{
  text-align: end;
}

.footer__link {
  color: rgb(11, 90, 180);
  padding: 10px;
  margin-inline: 5px;
  text-decoration: none;
}

